@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
h1 {
  position: relative;
}
h1 button {
  position: absolute;
  right: 0;
  transform: translate(120%, -50%);
  margin: 20px 0;
  padding: 5px;
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.btn {
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 14px;
}
.btn-small {
  font-size: 12px;
  padding: 5px 10px;
}
.clear {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.btn-ghost {
  border: 0;
  margin-left: 10px;
}
.cards-container {
  width: 400px;
  height: 248px;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
